.timePicker{
    -fx-border-color:-fx-white-black;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: -fx-gray;
/*    -fx-border-color:-fx-orange;*/
-fx-effect: dropshadow(gaussian, -fx-orange,5 , 0, 0, 0);
-fx-background-radius: 0;
}
.spinner{
    -fx-font-size:15px;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
-fx-effect: dropshadow(gaussian, -fx-white-orange,5 , 0, 0, 0);
-fx-cursor: hand;
}

.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: -fx-orange;

}