/*


.cards-container {
    -fx-padding: 10px;


    -fx-font-size: 20px;

}

.fields-container {
    -fx-padding: 10px;



    -fx-font-size: 20px;

}

.selectors-container {
    -fx-padding: 10px;


    -fx-font-size: 20px;

}

.header-query {
    -fx-background-color: -fx-orange;
}*/
